<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyNhaSach.Properties.Settings.DoAn_HQTCSDLConnectionString"
            connectionString="Data Source=192.168.43.160;Initial Catalog=DoAn_HQTCSDL;User ID=nv1;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>